@charset 'utf-8';
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/* 弹层透明遮罩层样式 */
.m-mask {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	background-color: rgba(233, 233, 233, .5);
}

/*	弹层通用样式	*/
.m-dialog{
	position:fixed;
	left: 50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width:auto;
	border:1px solid #cacacb;
	box-shadow: 5px 5px 5px #ccc;
	z-index: 99;
}
/*	弹层通用头尾样式	*/
.md-dialog{
	background-color: #fff;
	min-width: 370px;
	&-title{
		margin:0 24px;
		overflow: hidden;
		height: 62px;
		position:relative;
		border-bottom: 1px solid #ececec;
		line-height: 62px;
		h4{
			font-size:18px;
			color:#616161;
			float: left;
		}
		.iconfont{
			font-size:20px;
			float: right;
			cursor: pointer;
		}
	}
	&-content{
		padding:5px 24px;
		max-width: 540px;
		word-wrap:break-word;
		word-break: break-all;
		max-height: 200px;
		overflow-y: auto;
	}
	&-foot{
		padding: 16px 24px;
		background-color: #f9fafe;
		overflow: hidden;
		.btns{
			height: 30px;
			line-height: 30px;
			padding:0 12px;
			font-size:14px;
			margin-left: 8px;
			float: right;
            display: inline-block;
            border-radius: 5px;
            border: 1px solid #ccc;
            color: #616161;
            background-color: #fff;
		}
        .btns-blue{
        	color: #fff;
        	background-color: #008ed6;
            padding:0 16px;
        }
	}
}
